.logo {
	/* height: 100px; */
	border-radius: 5px;
	width: 40px; 
	height:	40px;
}

.topBar, .nav-item{
	color: #e1e8ff
}
.topBar:hover, .nav-item:hover{
	color: #7df3cc;
}

body{
	text-align: center;
}

.container{
	background-color: #e1e8ff;
	margin: 5px 25px 25px 5px;
	padding-top: 25px;
	padding-bottom: 25px;
	border-radius: 5px;
	position: relative
}

.header{
	text-align: center;
	background: white
}

.tableBtn {
	position: absolute;
	right: 35px;
	z-index: 1;
}

#catalog_filter, #results_filter{
	display: none;
}